<form method="post" novalidate>
    {% csrf_token %}
    {% for col in ffff %}
        {% if col.is_popup %}
            <p>{{ col.name }}: {{ col.item }}<a onclick="popupOpen('{{ col.popup_url }}');" href="#">添加</a>{{ col.item.errors.0 }}</p>
        {% else %}
            <p>{{ col.name }}: {{ col.item }}{{ col.item.errors.0 }}</p>
        {% endif %}
    {% endfor %}
    <input type="submit" value="提交">
</form>

<script>
    function popupOpen(url) {
        window.open(url,url,"status=1, height:300, width:400, toolbar=0, resizeable=0");
    }
    function popupCallBack1(popupid,id,title) {
        var tag = document.createElement('option');
        tag.innerHTML=title;
        tag.setAttribute('value',id);
        tag.setAttribute('selected','selected');
        document.getElementById(popupid).appendChild(tag);
    }
</script>
